#canvas-container {
    margin-top: 10%;
    margin-left: auto;
    margin-right: auto;
}

#animation-container {
    width: 500px;
    height: 500px;
    position: relative;
    background-color: rgb(243, 243, 243);
    margin-left: auto;
    margin-right: auto;
    margin-top: 1%;
    margin-bottom: 1%;
  }
  #square1 {
    width: 50px;
    height: 50px;
    position: absolute;
    background-color: rgb(173, 30, 255);
  }
  #square2 {
    width: 50px;
    height: 50px;
    position: absolute;
    background-color: rgb(255, 117, 158);
  }
  #square3 {
    width: 50px;
    height: 50px;
    position: absolute;
    background-color: rgb(255, 191, 72);
  }

  #brand {
      display: inline;
      font-size: 0; 
  }

  .brand-letter {
      display: inline;
      color: white;
      font-size: 1rem; 
  }

  .form-container {
      color: white;
      margin-top: 2.5%;
      margin-left: auto;
      margin-right: auto;
  }

  #submit-button {
      width: 100%;
  }

  #age {
      color: white;
      text-align: center;
  }

  #context-menu {
    position: absolute;
    z-index: 2;
    background: white;
    padding: 1%;
    display: none;
  }

  .context-menu-wrapper {
      cursor: pointer;
  }

  .text {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    color: white;
    font-size: 1.2em;
    margin-bottom: 2.5%;
}

body {
    background-color: rgb(44, 44, 44);
}

